<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.data>
		<DbProviderFactories>
			<add name="Npgsql Data Provider" invariant="Npgsql" support="FF" description=".Net Framework Data Provider for Postgresql Server" type="Npgsql.NpgsqlFactory, Npgsql, Version=2.0.11.94, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" />
			<remove invariant="System.Data.SQLite"/>
			<add name="SQLite Data Provider" invariant="System.Data.SQLite" description="ADO.NET Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
		</DbProviderFactories>
	</system.data>
	<connectionStrings>
		<add name="ProviderTest" connectionString="AnyConnectionString" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>